[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
c_main
c_head
l_tentacleB1
l_tentacleB2
l_tentacleB3
l_tentacleB4
l_tentacleB5
l_tentacleB6
l_tentacleB7
l_tentacleB8
l_tentacleC1
l_tentacleC2
l_tentacleC3
l_tentacleC4
l_tentacleC5
l_tentacleC6
l_tentacleD1
l_tentacleD2
l_tentacleD3
l_tentacleD4
l_tentacleD5
l_tentacleD6
l_tentacleD7
l_tentacleD8
l_tentacleD9
l_tentacleE1
l_tentacleE2
l_tentacleE3
l_tentacleE4
l_tentacleE5
l_tentacleE6
l_tentacleA1
l_tentacleA2
l_tentacleA3
l_tentacleA4
l_tentacleA5
r_tentacleA1
r_tentacleA2
r_tentacleA3
r_tentacleA4
r_tentacleA5
r_tentacleB1
r_tentacleB2
r_tentacleB3
r_tentacleB4
r_tentacleB5
r_tentacleB6
r_tentacleB7
r_tentacleB8
r_tentacleC1
r_tentacleC2
r_tentacleC3
r_tentacleC4
r_tentacleC5
r_tentacleC6
r_tentacleD1
r_tentacleD2
r_tentacleD3
r_tentacleD4
r_tentacleD5
r_tentacleD6
r_tentacleD7
r_tentacleD8
r_tentacleD9
r_tentacleE1
r_tentacleE2
r_tentacleE3
r_tentacleE4
r_tentacleE5
r_tentacleE6
upper_beak
lower_beak
c_body1
c_body2
c_body3
c_body4
c_body5
ric_c_saddle

[RemoveTracks]
Tusoteuthis-Torpid-Out-Wild.71=all
Tusoteuthis-Torpid-Out-Wild.72=all
Tusoteuthis-Torpid-Out-Wild.78=all
