[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
Spine_base
l_Leg_Hip
l_Leg_Knee
l_Leg_Ankle
l_Leg_Ball
l_Leg_Toe
l_InnerToe_01_01
l_InnerToe_01_02
l_InnerToe_01_03
l_MiddleToe_01_01
l_MiddleToe_01_02
l_MiddleToe_01_03
l_OuterToe_01_01
l_OuterToe_01_02
l_OuterToe_01_03
l_HindToe_01_01
l_HindToe_01_02
r_Leg_Hip
r_Leg_Knee
r_Leg_Ankle
r_Leg_Ball
r_Leg_Toe
r_InnerToe_01_01
r_InnerToe_01_02
r_InnerToe_01_03
r_MiddleToe_01_01
r_MiddleToe_01_02
r_MiddleToe_01_03
r_OuterToe_01_01
r_OuterToe_01_02
r_OuterToe_01_03
r_HindToe_01_01
r_HindToe_01_02
Tail_01_01
Tail_01_02
Tail_01_03
Tail_01_04
Tail_01_05
Tail_01_06
Tail_01_07
Tail_01_08
Tail_01_09
Spine_01
Spine_02
Spine_03
Spine_Top
l_Wing_Clavicle
l_Wing_Shoulder
l_Wing_Elbow
l_Wing_Wrist
l_Hand_01_01
l_Hand_01_02
l_Hand_02_01
l_Hand_02_02
l_wing_indexfinger_base
l_wing_feather__19
l_wing_feather__18
l_Hand_03_01
l_Hand_03_02
l_Hand_04_01
l_Hand_04_02
l_wing_hand_base
l_wing_feather__17
l_wing_feather__16
l_wing_feather__15
l_wing_feather__14
l_wing_elbow_base
l_wing_feather__13
l_wing_feather__12
l_wing_feather__11
l_wing_feather__10
l_wing_feather__9
l_wing_feather__8
l_wing_feather__7
l_wing_feather__6
l_wing_feather__5
l_wing_upper_base
l_wing_feather__4
l_wing_feather__3
l_wing_feather__2
l_wing_feather__1
r_Wing_Clavicle
r_Wing_Shoulder
r_Wing_Elbow
r_Wing_Wrist
r_Hand_01_01
r_Hand_01_02
r_Hand_02_01
r_Hand_02_02
r_wing_indexfinger_base
r_wing_feather_19
r_wing_feather_18
r_Hand_03_01
r_Hand_03_02
r_Hand_04_01
r_Hand_04_02
r_wing_hand_base
r_wing_feather_17
r_wing_feather_16
r_wing_feather_15
r_wing_feather_14
r_wing_elbow_base
r_wing_feather_13
r_wing_feather_12
r_wing_feather_11
r_wing_feather_10
r_wing_feather_9
r_wing_feather_8
r_wing_feather_7
r_wing_feather_6
r_wing_feather_5
r_wing_upper_base
r_wing_feather_4
r_wing_feather_3
r_wing_feather_2
r_wing_feather_1
Neck_01
Neck_02
Neck_03
Neck_04
Neck_05
Neck_06
Neck_Top
Head_Jaw
c_tongue1
c_tongue2
c_tongue3
Head_Top
l_Eye
r_Eye
l_upperEye
l_lowerEye
r_upperEye
r_lowerEye

[RemoveTracks]
