[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
body
bodyTop1
bodyTop14
tentacle1
tentacle2
tentacle3
bodyTop2
bodyTop13
tentacle4
tentacle5
tentacle6
bodyTop5
bodyTop10
tentacle7
tentacle8
tentacle9
bodyTop3
bodyTop15
tentacle10
tentacle11
tentacle12
bodyTop6
bodyTop12
tentacle13
tentacle14
tentacle15
bodyTop7
bodyTop11
tentacle16
tentacle17
tentacle18
bodyTop8
bodyTop9
tentacle19
tentacle20
tentacle21
bodyTop4
bodyTop16
tentacle22
tentacle23
tentacle24
tentacle25
tentacle26
tentacle27
tentacle28
tentacle29
tentacle30
tentacle31
tentacle32
tentacle33
tentacle34
tentacle35
tentacle36
tentacle37
tentacle38
tentacle39
tentacle40
tentacle41
tentacle42
tentacle43
tentacle45
tentacle46
tentacle47
tentacle49
tentacle50
tentacle51
tentacle53
tentacle54
tentacle55
tentacle57
tentacle58
tentacle59
tentacle61
tentacle62
tentacle63
tentacle65
tentacle66
tentacle67
tentacle69
tentacle70
tentacle71
tentacle73
tentacle74
tentacle75

[RemoveTracks]
