[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
c_back1
c_back2
c_back3
c_back4
c_neck1
c_neck2
c_neck3
c_neck4
c_neck5
c_neck6
c_neck7
c_neck8
l_eye
c_jaw
c_tongue1
c_tongue2
c_tongue3
c_tongue4
c_tongue5
r_eye
l_FlipperA1
l_FlipperA2
l_FlipperA3
l_FlipperA4
r_FlipperA1
r_FlipperA2
r_FlipperA3
r_FlipperA4
l_flipperB1
l_flipperB2
l_flipperB3
l_flipperB4
c_tail1
c_tail2
c_tail3
c_tail4
c_tail5
r_flipperB1
r_flipperB2
r_flipperB3
r_flipperB4

[RemoveTracks]
