[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
c_back1
c_back2
c_back3
c_back4
c_neck1
c_neck2
c_neck3
c_head
c_jaw
c_tongue1
c_tongue2
c_tongue3
c_tongue4
c_tongue5
l_eye
r_eye
l_clavicle
l_shoulder
l_elbow
l_wrist
l_bigFinger1
l_bigFinger2
l_bigFinger3
l_bigFinger4
l_bigFinger5
l_wingE1
l_wingD1
l_wingD2
l_wingC1
l_wingC2
l_wingC3
l_wingB1
l_wingB2
l_wingB3
l_wingA1
l_wingA2
l_wingA3
l_mediumFinger1
l_mediumFinger2
l_mediumFinger3
l_miniFingerA3
l_miniFingerB1
l_miniFingerB2
l_miniFingerC1
l_miniFingerC2
l_miniFingerA1
l_miniFingerA2
l_frontArmWing1
l_rearArmWing
l_frontArmWing3
l_shoulderTwist1
l_shoulderTwist2
l_frontArmWing2
l_bodyWing2
r_clavicle
r_shoulder
r_elbow
r_wrist
r_bigFinger1
r_bigFinger2
r_bigFinger3
r_bigFinger4
r_bigFinger5
r_wingE1
r_wingD1
r_wingD2
r_wingC1
r_wingC2
r_wingC3
r_wingB1
r_wingB2
r_wingB3
r_wingA1
r_wingA2
r_wingA3
r_mediumFinger1
r_mediumFinger2
r_mediumFinger3
r_miniFingerA3
r_miniFingerA1
r_miniFingerA2
r_miniFingerB1
r_miniFingerB2
r_miniFingerC1
r_miniFingerC2
r_frontArmWing
r_rearArmWing
r_frontArmWing3
r_shoulderTwist1
r_shoulderTwist2
r_frontArmWing2
r_bodyWing2
l_bodyWing
r_bodyWing
c_tail1
c_tail2
l_legWing
r_legWing
l_hip
l_knee
l_ankle
l_toeE1
l_toeE2
l_toeD1
l_toeD2
l_toeC1
l_toeC2
l_toeB1
l_toeB2
l_toeA1
l_toeA2
l_legTwist
l_bodyWing3
r_hip
r_knee
r_ankle
r_toeE1
r_toeE2
r_toeD1
r_toeD2
r_toeC1
r_toeC2
r_toeB1
r_toeB2
r_toeA1
r_toeA2
r_legTwist
r_bodyWing3
r_upperEye
r_lowerEye
l_upperEye
l_lowerEye

[RemoveTracks]
Ptero-Fly-Rit.129=all
Ptero-Fly-Rit.130=all
Ptero-Fly-Rit.131=all
Ptero-Fly-Rit.132=all
