[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
c_back1
c_back2
c_back3
c_back4
c_neck1
c_neck2
c_neck3
c_jaw
l_shoulder
l_eblow
l_wrist
l_fingerB11
l_fingerB12
l_fingerA11
l_fingerA12
l_fingerD11
l_fingerD12
l_fingerC11
l_fingerC12
l_fingerE11
l_fingerE12
r_shoulder
r_eblow
r_wrist
r_fingerB11
r_fingerB12
r_fingerA11
r_fingerA12
r_fingerD11
r_fingerD12
r_fingerC11
r_fingerC12
r_fingerE11
r_fingerE12
c_tail1
c_tail2
c_tail3
c_tail4
c_tail5
c_tail6
c_tail7
c_tail8
c_tail9
l_leg
l_knee
l_ankle
l_toeB11
l_toeB12
l_toeA11
l_toeA12
l_toeC11
l_toeC12
l_toeD11
l_toeD12
l_toeE11
l_toeE12
r_leg
r_knee
r_ankle
r_toeB11
r_toeB12
r_toeA11
r_toeA12
r_toeC11
r_toeC12
r_toeD11
r_toeD12
r_toeE11
r_toeE12
r_top_eyelid_jnt
r_bot_eyelid_jnt
l_top_eyelid_jnt
l_bot_eyelid_jnt

[RemoveTracks]
Sarco-Ground-Turn-Lft.70=all
Sarco-Ground-Turn-Lft.71=all
Sarco-Ground-Turn-Lft.72=all
Sarco-Ground-Turn-Lft.73=all
