[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
c_back1
c_back2
c_back3
c_back4
c_back5
c_head
c_jaw
c_tongue1
c_tongue2
c_tongue3
c_tongue4
c_tongue5
l_eye
l_wiskerA1
l_wiskerA2
l_wiskerA3
l_ear1
l_ear2
r_eye
r_ear1
r_ear2
r_wiskerA1
r_wiskerA2
r_wiskerA3
l_scapula
l_shoulder
l_elbow
l_wrist
l_toeA1
l_wristToeC1
l_wristToeC2
l_wristToeD1
l_wristToeD2
l_wristToeB1
l_wristToeB2
l_wristToeA1
l_wristToeA2
l_forearmTwist
l_shoulderTwist
r_scapula
r_shoulder
r_elbow
r_wrist
r_toeA1
r_wristToeC1
r_wristToeC2
r_wristToeD1
r_wristToeD2
r_wristToeB1
r_wristToeB2
r_wristToeA1
r_wristToeA2
r_forearmTwist
r_shoulderTwist
c_tail1
c_tail2
c_tail3
c_tail4
c_tail5
c_tail6
l_leg
l_knee
l_ankle
l_foot
l_footToeC1
l_footToeC2
l_footToeB1
l_footToeB2
l_footToeD1
l_footToeD2
l_footToeA1
l_footToeA2
l_legTwist
r_leg
r_knee
r_ankle
r_foot
r_footToeC1
r_footToeC2
r_footToeB1
r_footToeB2
r_footToeD1
r_footToeD2
r_footToeA1
r_footToeA2
r_legTwist
r_upperEye
r_lowerEye
l_upperEye
l_lowerEye
r_fang
l_fang
r_top_eyelid
r_bot_eyelid
l_top_eyelid
l_bot_eyelid

[RemoveTracks]
Saber-Torpid-Out-Wild.87=all
Saber-Torpid-Out-Wild.88=all
Saber-Torpid-Out-Wild.89=all
Saber-Torpid-Out-Wild.90=all
Saber-Torpid-Out-Wild.91=all
Saber-Torpid-Out-Wild.92=all
Saber-Torpid-Out-Wild.93=all
Saber-Torpid-Out-Wild.94=all
Saber-Torpid-Out-Wild.95=all
Saber-Torpid-Out-Wild.96=all
