[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
ROOT
Back4
Back3
Back2
Back1
Neck2
Neck1
Head
Eye_L
EyeLid_Top_L
EyeLid_Bottom_L
Jaw
dewlap2
dewlap2_end
dewlap1
delap1_end
Eye_R
EyeLid_Top_R
EyeLid_Bottom_R
Grab_Swallow_Joint
throat_Jiggle
throat_Jiggle_1
joint1
L_Shoulder
L_Elbow
L_Wrist
L_Fingy1
L_Fingy2
L_Fingy3
L_Fingy4
R_Shoulder
R_Elbow
R_Wrist
R_Fingy1
R_Fingy2
R_Fingy3
R_Fingy4
Tummy_Jiggle
Tummy_Jiggle1
Tummy_Jiggle_end
L_Hip
L_Knee
L_Ankle
L_Toe1
L_Toe2
L_Toe3
L_Toe4
Tail1
Tail2
Tail3
Tail4
Tail5
Tail6
Tail7
Tail8
Tail_end
R_Hip
R_Knee
R_Ankle
R_Toe1
R_Toe2
R_Toe3
R_Toe4
