[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Root_JNT_SKL
Cnt_Spine_000_JNT_SKL
Cnt_Spine_001_JNT_SKL
Cnt_Spine_003_JNT_SKL
Cnt_Spine_005_JNT_SKL
Cnt_Neck_000_JNT_SKL
Cnt_Neck_002_JNT_SKL
Cnt_Head_JNT_SKL
Cnt_Jaw_JNT_SKL
Cnt_Tongue_000_JNT_SKL
Cnt_Tongue_001_JNT_SKL
Cnt_Tongue_002_JNT_SKL
Cnt_Tongue_003_JNT_SKL
Cnt_Tongue_004_JNT_SKL
Rht_Eye_JNT_SKL
Lft_Eye_JNT_SKL
Lft_Arm_001Tear000_JNT_SKL
Lft_Arm_001Tear003_JNT_SKL
Lft_Arm_002Tear000_JNT_SKL
Lft_Arm_002Tear003_JNT_SKL
Lft_Arm_002Tear006_JNT_SKL
Lft_IndexFinger_000_JNT_SKL
Lft_IndexFinger_001_JNT_SKL
Lft_IndexFinger_002_JNT_SKL
Lft_MiddleFinger_000_JNT_SKL
Lft_MiddleFinger_001_JNT_SKL
Lft_MiddleFinger_002_JNT_SKL
Lft_LittleFinger_000_JNT_SKL
Lft_LittleFinger_001_JNT_SKL
Lft_LittleFinger_002_JNT_SKL
Lft_Feather_02_JNT_SKL
Lft_Feather_01_JNT_SKL
Lft_Feather_00_JNT_SKL
Rht_Arm_001Tear000_JNT_SKL
Rht_Arm_001Tear003_JNT_SKL
Rht_Arm_002Tear000_JNT_SKL
Rht_Arm_002Tear003_JNT_SKL
Rht_Arm_002Tear006_JNT_SKL
Rht_IndexFinger_000_JNT_SKL
Rht_IndexFinger_001_JNT_SKL
Rht_IndexFinger_002_JNT_SKL
Rht_MiddleFinger_000_JNT_SKL
Rht_MiddleFinger_001_JNT_SKL
Rht_MiddleFinger_002_JNT_SKL
Rht_LittleFinger_000_JNT_SKL
Rht_LittleFinger_001_JNT_SKL
Rht_LittleFinger_002_JNT_SKL
Rht_Feather_02_JNT_SKL
Rht_Feather_01_JNT_SKL
Rht_Feather_00_JNT_SKL
Cnt_Tail_000_JNT_SKL
Cnt_Tail_002_JNT_SKL
Cnt_Tail_004_JNT_SKL
Cnt_Tail_006_JNT_SKL
Cnt_Tail_008_JNT_SKL
Cnt_Tail_010_JNT_SKL
Cnt_Tail_012_JNT_SKL
Cnt_Tail_013_JNT_SKL
Cnt_Tail_014_JNT_SKL
Lft_Back_AIk000_JNT_SKL
Lft_Back_001Linear000_JNT_SKL
Lft_Back_002Linear000_JNT_SKL
Lft_Back_003Linear000_JNT_SKL
Lft_Back_AIk004_JNT_SKL
Lft_Back_AIk005_JNT_SKL
Lft_Claw_JNT_SKL
Lft_Toe_01_JNT_SKL
Rht_Back_AIk000_JNT_SKL
Rht_Back_001Linear000_JNT_SKL
Rht_Back_002Linear000_JNT_SKL
Rht_Back_003Linear000_JNT_SKL
Rht_Back_AIk004_JNT_SKL
Rht_Back_AIk005_JNT_SKL
Rht_Claw_JNT_SKL
Rht_Toe_01_JNT_SKL
l_upperEye
l_lowerEye
r_upperEye
r_lowerEye
Lft_UpperEyelid_JNT_SKL
Lft_LowerEyelid_JNT_SKL
Rht_UpperEyelid_JNT_SKL
Rht_LowerEyelid_JNT_SKL

[RemoveTracks]
Raptor-Attack.75=all
Raptor-Attack.76=all
Raptor-Attack.77=all
Raptor-Attack.78=all
Raptor-Attack.79=all
Raptor-Attack.80=all
Raptor-Attack.81=all
Raptor-Attack.82=all
