[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
c_back1
c_back2
c_back3
c_back4
c_neck1
c_neck2
c_head
c_jaw
c_tongue1
c_tongue2
c_tongue3
c_tongue4
l_eye
l_nose1
l_nose2
l_eyeLid1
l_eyeLid2
r_eyeLid2
r_nose1
r_nose2
r_eyeLid1
r_eye
l_scapula
l_shoulder
l_shoulderTwist
l_eblow
l_forearmTwist
l_wrist
l_frontHeel
l_frontHeelEnd
l_frontToeA1
l_frontToeA2
l_frontToeB1
l_frontToeB2
l_frontToeC1
l_frontToeC2
l_frontToeD1
l_frontToeD2
l_frontToeE1
l_frontToeE2
r_scapula
r_shoulder
r_shoulderTwist
r_eblow
r_forearmTwist
r_wrist
r_frontHeel
r_frontHeelEnd
r_frontToeA1
r_frontToeA2
r_frontToeB1
r_frontToeB2
r_frontToeC1
r_frontToeC2
r_frontToeD1
r_frontToeD2
r_frontToeE1
r_frontToeE2
c_taill1
c_tail2
c_tail3
c_tail4
c_tail5
l_hip
l_legTwist
l_knee
l_kneeTwist
l_ankle
l_backHeel
l_backHeelEnd
l_backToeA1
l_backToeA2
l_backToeB1
l_backToeB
l_backToeC1
l_backToeC2
r_hip
r_legTwist
r_knee
r_kneeTwist
r_ankle
r_backHeel
r_backHeelEnd
r_backToeA1
r_backToeA2
r_backToeB1
r_backToeB
r_backToeC1
r_backToeC2
l_browhorn
c_nosehorn
l_shieldhorn
c_shieldhorn
r_browhorn
r_shieldhorn

[RemoveTracks]
Trike-Torpid-Out-Tamed.90=all
Trike-Torpid-Out-Tamed.91=all
Trike-Torpid-Out-Tamed.92=all
Trike-Torpid-Out-Tamed.93=all
Trike-Torpid-Out-Tamed.94=all
Trike-Torpid-Out-Tamed.95=all
