[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Cerato_ROOT
Waist_M
Spine1_M
Spine2_M
Chest_M
Neck0_M
Neck1_M
Neck2_M
Neck3_M
Neck4_M
Neck5_M
Head_M
Eye_R
R_Eyelid_upper
R_Eyelid_lower
Jaw_M
tongue1_M
tongue2_M
tongue3_M
tongue4_M
tongue5_M
tongue6_M
tongue7_M
tongue8_M
tongue9_M
F_Dewlap1
F_DewlapEnd
R_Dewlap1
R_DewlapEnd
Eye_L
L_Eyelid_upper
L_Eyelid_lower
Shoulder_R
Elbow_R
Wrist_R
MiddleFinger1_R
MiddleFinger2_R
MiddleFinger3_R
MiddleFinger4_R
IndexFinger1_R
IndexFinger2_R
IndexFinger3_R
IndexFinger4_R
PinkyFinger1_R
PinkyFinger2_R
PinkyFinger3_R
PinkyFinger4_R
RingFinger1_R
RingFinger2_R
RingFinger3_R
RingFinger4_R
Shoulder_L
Elbow_L
Wrist_L
MiddleFinger1_L
MiddleFinger2_L
MiddleFinger3_L
MiddleFinger4_L
IndexFinger1_L
IndexFinger2_L
IndexFinger3_L
IndexFinger4_L
PinkyFinger1_L
PinkyFinger2_L
PinkyFinger3_L
PinkyFinger4_L
RingFinger1_L
RingFinger2_L
RingFinger3_L
RingFinger4_L
Tail0_M
Tail1_M
Tail2_M
Tail3_M
Tail4_M
Tail5_M
Tail6_M
Rump_R
Hip_R
Knee_R
Ankle_R
Toes_R
ToesEnd_R
claw5_R
claw6_R
claw7_R
claw8_R
claw9_R
claw10_R
claw11_R
claw12_R
claw1_R
claw2_R
claw3_R
claw4_R
Rump_L
Hip_L
Knee_L
Ankle_L
Toes_L
ToesEnd_L
claw5_L
claw6_L
claw7_L
claw8_L
claw9_L
claw10_L
claw11_L
claw12_L
claw1_L
claw2_L
claw3_L
claw4_L

[RemoveTracks]
