[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
c_back1
c_back2
c_back3
c_back4
c_back5
c_back6
c_back7
c_back8
c_back9
c_back10
c_back11
c_back12
c_back13
c_back14
c_back15
c_back16
c_back17
c_back18
c_back19
c_back20
c_back21
c_back22
c_back23
c_back24
c_back25
c_head
l_eye
c_jaw
c_tongue1
c_tongue2
c_tongue3
c_tongue4
c_tongue5
l_tongue
r_tongue
l_jaw
r_jaw
r_eye
r_frillC1
r_frillC2
r_frillB1
r_frillB2
r_frillA1
r_frillA2
r_frillD1
r_frillD2
l_frillA1
l_frillA2
l_frillB1
l_frillB2
l_frillC1
l_frillC2
l_frillD1
l_frillD2

[RemoveTracks]
