[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
c_back1
c_back2
c_back3
c_back4
c_neck1
c_neck2
c_neck3
c_head
c_jaw
c_tongue1
c_tongue2
c_tongue3
c_tongue4
c_tongue5
l_eye
l_frillA1
l_frillA2
l_frillB1
l_frillB2
l_frillB3
l_frillC1
l_frillC2
l_frillC3
l_frillD1
l_frillD2
l_frillD3
r_frillA1
r_frillA2
r_frillB1
r_frillB2
r_frillB3
r_frillC1
r_frillC2
r_frillC3
r_frillD1
r_frillD2
r_frillD3
r_eye
l_scapula
l_shoulder
l_elbow
l_wrist
l_fingerC1
l_fingerC2
l_fingerC3
l_fingerB1
l_fingerB2
l_fingerB3
l_fingerA1
l_fingerA2
l_fingerA3
l_armTiwst
r_scapula
r_shoulder
r_elbow
r_wrist
r_fingerC1
r_fingerC2
r_fingerC3
r_fingerB1
r_fingerB2
r_fingerB3
r_fingerA1
r_fingerA2
r_fingerA3
r_armTiwst
c_tail1
c_tail2
c_tail3
c_tail4
c_tail5
c_tail6
c_tail7
c_tail8
l_leg
l_knee
l_ankle
l_toeB1
l_toeB2
l_toeB3
l_toeA1
l_toeA2
l_toeA3
l_toeC1
l_toeC2
l_toeC3
l_legTwist
r_leg
r_knee
r_ankle
r_toeB1
r_toeB2
r_toeB3
r_toeA1
r_toeA2
r_toeA3
r_toeC1
r_toeC2
r_toeC3
r_legTwist
r_upperEye
r_lowerEye
l_upperEye
l_lowerEye

[RemoveTracks]
Dilo-Charge-Fwd.101=all
Dilo-Charge-Fwd.102=all
Dilo-Charge-Fwd.103=all
Dilo-Charge-Fwd.104=all
