[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
c_back1
c_back2
c_back3
c_back4
c_back5
c_head
c_jaw
c_tongue1
c_tongue2
c_tongue3
c_tongue4
l_earB1
l_earB2
l_earB3
l_eye
c_trunk1
c_trunk2
c_trunk3
c_trunk4
c_trunk5
c_trunk6
c_trunk7
l_trunkGrip
c_trunkUpperGrip
c_trunkLowerGrip
r_trunkGrip
r_eye
r_earB1
r_earB2
r_earB3
l_scapula
l_shoulder
l_elbow
l_wrist
l_wristHeel1
l_wristHeel2
l_wristToeA1
l_wristToeA2
l_wristToeC1
l_wristToeC2
l_wristToeB1
l_wristToeB2
l_armTwist
r_scapula
r_shoulder
r_elbow
r_wrist
r_wristHeel1
r_wristHeel2
r_wristToeA1
r_wristToeA2
r_wristToeC1
r_wristToeC2
r_wristToeB1
r_wristToeB2
r_armTwist
c_tail1
c_tail2
c_tail3
c_tail4
l_hip
l_knee
l_ankle
l_ankleHell1
l_ankleHeel2
l_ankleToeA1
l_ankleToeA2
l_ankleToeB1
l_ankleToeB2
l_ankleToeC1
l_ankleToeC2
l_legTwist
r_hip
r_knee
r_ankle
r_ankleHell1
r_ankleHeel2
r_ankleToeA1
r_ankleToeA2
r_ankleToeB1
r_ankleToeB2
r_ankleToeC1
r_ankleToeC2
r_legTwist
r_upperEye
l_upperEye
r_lowerEye
l_lowerEye
l_pupil
r_pupil
l_tusk
r_tusk
l_lowerTusk
r_lowerTusk
l_tusk_branch_A_1
l_tusk_branch_A_2
l_tusk_branch_A_3
l_tusk_branch_B_1
l_tusk_branch_B_2
r_tusk_branch_B_1
r_tusk_branch_B_2
r_tusk_branch_A_1
r_tusk_branch_A_2
r_tusk_branch_A_3

[RemoveTracks]
Mammoth-Aim-Lft.89=all
Mammoth-Aim-Lft.90=all
Mammoth-Aim-Lft.95=all
Mammoth-Aim-Lft.96=all
Mammoth-Aim-Lft.97=all
Mammoth-Aim-Lft.98=all
Mammoth-Aim-Lft.99=all
Mammoth-Aim-Lft.100=all
Mammoth-Aim-Lft.101=all
Mammoth-Aim-Lft.102=all
Mammoth-Aim-Lft.103=all
Mammoth-Aim-Lft.104=all
