[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
c_back1
c_back2
c_back3
c_back4
c_neck1
c_neck2
c_neck3
c_head
c_jaw
c_tongue1
c_tongue2
c_tongue3
c_tongue4
l_lowerEye
l_eye
l_upperEye
r_upperEye
r_eye
r_lowerEye
l_clavicle
l_shoulder
l_elbow
l_wrist
l_finger_A1
l_finger_A2
l_finger_A3
l_finger_C1
l_finger_C2
l_finger_C3
l_finger_B1
l_finger_B2
l_finger_B3
l_forearmTwist
r_clavicle
r_shoulder
r_elbow
r_wrist
r_finger_A1
r_finger_A2
r_finger_A3
r_finger_C1
r_finger_C2
r_finger_C3
r_finger_B1
r_finger_B2
r_finger_B3
r_forearmTwist
l_hip
l_knee
l_ankle
l_heel
l_ball0
l_toe_C1
l_toe_C2
l_toe_C3
l_toe_B1
l_toe_B2
l_toe_B3
l_toe_A1
l_toe_A2
c_tail1
c_tail2
c_tail3
c_tail4
c_tail5
r_hip
r_knee
r_ankle
r_heel
r_ball0
r_toe_C1
r_toe_C2
r_toe_C3
r_toe_B1
r_toe_B2
r_toe_B3
r_toe_A1
r_toe_A2
