[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
c_Hip
l_Leg_Hip
l_Leg_Knee1
l_Leg_Knee2
l_Leg_Ball
l_Leg_Toe
l_InnerToe_01_01
l_InnerToe_01_02
l_InnerToe_01_03
l_InnerToe_01_04
l_InnerToe_02_01
l_InnerToe_02_02
l_InnerToe_02_03
l_InnerToe_02_04
l_InnerToe_03_01
l_InnerToe_03_02
l_InnerToe_03_03
l_InnerToe_03_04
l_HindToe_01_01
l_HindToe_01_02
l_HindToe_01_03
l_HindToe_01_04
r_Leg_Hip
r_Leg_Knee1
r_Leg_Knee2
r_Leg_Ball
r_Leg_Toe
r_InnerToe_01_01
r_InnerToe_01_02
r_InnerToe_01_03
r_InnerToe_01_04
r_InnerToe_02_01
r_InnerToe_02_02
r_InnerToe_02_03
r_InnerToe_02_04
r_InnerToe_03_01
r_InnerToe_03_02
r_InnerToe_03_03
r_InnerToe_03_04
r_HindToe_01_01
r_HindToe_01_02
r_HindToe_01_03
r_HindToe_01_04
c_Spine_01
c_Spine_02
c_Spine_Top
l_Wing_Clavicle
l_Wing_Shoulder
l_Wing_Elbow1
l_Wing_Elbow2
l_Wing_Wrist
l_Digit_01_01
l_Digit_01_02
l_wing_feather_7
l_wing_feather_7_2
l_wing_feather_6
l_wing_feather_6_2
l_Alula_01_01
l_Alula_01_02
l_Alula_01_03
l_wing_feather_5
l_wing_feather_5_2
l_wing_feather_4
l_wing_feather_4_2
l_wing_feather_2
l_wing_feather_2_2
l_wing_feather_3
l_wing_feather_3_2
l_wing_feather_1
l_wing_feather_1_2
r_Wing_Clavicle
r_Wing_Shoulder
r_Wing_Elbow1
r_Wing_Elbow2
r_Wing_Wrist
r_Digit_01_01
r_Digit_01_02
r_wing_feather_7
r_wing_feather_7_2
r_wing_feather_6
r_wing_feather_6_2
r_Alula_01_01
r_Alula_01_02
r_Alula_01_03
r_wing_feather_5
r_wing_feather_5_2
r_wing_feather_4
r_wing_feather_4_2
r_wing_feather_2
r_wing_feather_2_2
r_wing_feather_3
r_wing_feather_3_2
r_wing_feather_1
r_wing_feather_1_2
c_Neck_01
c_Neck_02
c_Head
l_Eye_01
r_Eye_01
c_Jaw
c_Tongue_01_01
c_Tongue_01_02
c_Tongue_01_03
c_Tongue_01_04
l_ear
l_ear2
r_ear
r_ear2
l_UpperEye_01
l_LowerEye_01
r_UpperEye_01
r_LowerEye_01
c_Tail_01
c_Tail_Top
l_Tailfeather_01_01
l_Tailfeather_01_02
l_Tailfeather_01_03
l_Tailfeather_02_01
l_Tailfeather_02_02
r_Tailfeather_01_01
r_Tailfeather_01_02
r_Tailfeather_01_03
r_Tailfeather_02_01
r_Tailfeather_02_02
l_Tailfeather_01_04
l_Tailfeather_02_03
l_Tailfeather_02_04
r_Tailfeather_01_04
r_Tailfeather_02_03
r_Tailfeather_02_04

[RemoveTracks]
Argentavis-Ground-Aim-Center.125=all
Argentavis-Ground-Aim-Center.126=all
Argentavis-Ground-Aim-Center.127=all
Argentavis-Ground-Aim-Center.128=all
Argentavis-Ground-Aim-Center.129=all
Argentavis-Ground-Aim-Center.130=all
