[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
c_back1
c_back2
c_back3
c_back4
c_neck1
c_neck2
c_neck3
c_jaw
c_tongue1
c_tongue2
c_tongue3
c_tongue4
l_eye
r_eye
l_shoulder
l_elbow
l_wrist
l_frontFoot
l_frontToeC1
l_frontToeC2
l_frontToeB1
l_frontToeB2
l_frontToeD1
l_frontToeD2
l_frontToeA1
l_frontToeA2
l_armTwist
r_shoulder
r_elbow
r_wrist
r_frontFoot
r_frontToeC1
r_frontToeC2
r_frontToeB1
r_frontToeB2
r_frontToeD1
r_frontToeD2
r_frontToeA1
r_frontToeA2
r_armTwist
c_tail1
c_tail2
c_tail3
c_tail4
c_tail5
l_hip
l_knee
l_ankle
l_rearFoot
l_rearToeC1
l_rearToeC2
l_rearToeB1
l_rearToeB2
l_rearToeA1
l_rearToeA2
l_rearToeD1
l_rearToeD2
l_legTwist
r_hip
r_knee
r_ankle
r_rearFoot
r_rearToeC1
r_rearToeC2
r_rearToeB1
r_rearToeB2
r_rearToeA1
r_rearToeA2
r_rearToeD1
r_rearToeD2
r_legTwist
r_upperEye
r_lowerEye
l_upperEye
l_lowerEye

[RemoveTracks]
Ankylo-Graze.72=all
Ankylo-Graze.73=all
Ankylo-Graze.74=all
Ankylo-Graze.75=all
