[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
ROOT_JNT_SKL
joint2
Cnt_Spine_000_JNT_SKL
Cnt_Spine_001_JNT_SKL
Cnt_Spine_002_JNT_SKL
Cnt_Spine_003_JNT_SKL
Cnt_Spine_004_JNT_SKL
Cnt_Neck_001_JNT_SKL
Cnt_Neck_002_JNT_SKL
Cnt_Neck_003_JNT_SKL
Cnt_Head_JNT_SKL
Cnt_Jaw_JNT_SKL
Cnt_Tongue_000_JNT_SKL
Cnt_Tongue_001_JNT_SKL
Cnt_Tongue_002_JNT_SKL
Cnt_Tongue_003_JNT_SKL
Lft_Eye_JNT_SKL
Rht_Eye_JNT_SKL
Rht_Arm_Clav000_JNT_SKL
Rht_Arm_001Tear000_JNT_SKL
Rht_Arm_002Tear000_JNT_SKL
Rht_Arm_002Tear006_JNT_SKL
Rht_IndexFinger_000_CTL_JNT_SKL
Rht_IndexFinger_001_CTL_JNT_SKL
Rht_IndexFinger_002_CTL_JNT_SKL
Rht_MiddleFinger_000_CTL_JNT_SKL
Rht_MiddleFinger_001_CTL_JNT_SKL
Rht_MiddleFinger_002_CTL_JNT_SKL
Lft_Arm_Clav000_JNT_SKL
Lft_Arm_001Tear000_JNT_SKL
Lft_Arm_002Tear000_JNT_SKL
Lft_Arm_002Tear006_JNT_SKL
Lft_IndexFinger_000_CTL_JNT_SKL
Lft_IndexFinger_001_CTL_JNT_SKL
Lft_IndexFinger_002_CTL_JNT_SKL
Lft_MiddleFinger_000_CTL_JNT_SKL
Lft_MiddleFinger_001_CTL_JNT_SKL
Lft_MiddleFinger_002_CTL_JNT_SKL
Belly_002_JNT_SKL
Belly_001_JNT_SKL
Belly_000_JNT_SKL
Lft_Leg_AIk000_JNT_SKL
Lft_Leg_001Linear000_JNT_SKL
Lft_Leg_002Linear000_JNT_SKL
Lft_Leg_003Linear000_JNT_SKL
Lft_Leg_AIk004_JNT_SKL
Lft_Little_Toe_000_JNT_SKL
Lft_Little_Toe_001_JNT_SKL
Lft_Middle_Toe_000_JNT_SKL
Lft_Middle_Toe_001_JNT_SKL
Lft_Big_Toe_000_JNT_SKL
Lft_Big_Toe_001_JNT_SKL
Rht_Leg_AIk000_JNT_SKL
Rht_Leg_001Linear000_JNT_SKL
Rht_Leg_002Linear000_JNT_SKL
Rht_Leg_003Linear000_JNT_SKL
Rht_Leg_AIk004_JNT_SKL
Rht_Little_Toe_000_JNT_SKL
Rht_Little_Toe_001_JNT_SKL
Rht_Middle_Toe_000_JNT_SKL
Rht_Middle_Toe_001_JNT_SKL
Rht_Big_Toe_000_JNT_SKL
Rht_Big_Toe_001_JNT_SKL
Cnt_Tail_000_JNT_SKL
Cnt_Tail_001_JNT_SKL
Cnt_Tail_002_JNT_SKL
Cnt_Tail_003_JNT_SKL
Cnt_Tail_004_JNT_SKL
Cnt_Tail_005_JNT_SKL
Cnt_Tail_006_JNT_SKL
Cnt_Tail_007_JNT_SKL
r_lowerEye
r_upperEye
l_upperEye
l_lowerEye

[RemoveTracks]
Rex-Hurt-Big-Lft.71=all
Rex-Hurt-Big-Lft.72=all
Rex-Hurt-Big-Lft.73=all
Rex-Hurt-Big-Lft.74=all
