[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
Hip
Spine_01
Spine_02
Spine_Top
Neck_01
Neck_02
Neck_Top
Head
l_Eye_01
r_Eye_01
l_eyeupper
r_eyeupper
l_eyelower
r_eyelower
l_Ear_01_01
l_Ear_01_02
r_Ear_01_01
r_Ear_01_02
l_UpperFlews
r_UpperFlews
Jaw
Tongue_01_01
Tongue_01_02
Tongue_01_03
Tongue_01_04
l_Clavicle
l_FrontLeg_Hip
l_FrontLeg_Knee
l_FrontLeg_Ankle
l_FrontLeg_Ball
l_WristToe_01_01
l_WristToe_01_02
l_WristToe_02_01
l_WristToe_02_02
l_WristToe_03_01
l_WristToe_03_02
l_WristToe_04_01
l_WristToe_04_02
r_Clavicle
r_FrontLeg_Hip
r_FrontLeg_Knee
r_FrontLeg_Ankle
r_FrontLeg_Ball
r_WristToe_01_01
r_WristToe_01_02
r_WristToe_02_01
r_WristToe_02_02
r_WristToe_03_01
r_WristToe_03_02
r_WristToe_04_01
r_WristToe_04_02
l_HindLeg_Hip
l_HindLeg_UpperTwist
l_HindLeg_Knee1
l_HindLeg_Knee2
l_HindLeg_Ankle
l_HindLeg_Ball
l_LegToe_01_01
l_LegToe_01_02
l_LegToe_02_01
l_LegToe_02_02
l_LegToe_03_01
l_LegToe_03_02
l_LegToe_04_01
l_LegToe_04_02
l_HindLeg_LowerTwist
r_HindLeg_Hip
r_HindLeg_UpperTwist
r_HindLeg_Knee1
r_HindLeg_Knee2
r_HindLeg_Ankle
r_HindLeg_Ball
r_LegToe_01_01
r_LegToe_01_02
r_LegToe_02_01
r_LegToe_02_02
r_LegToe_03_01
r_LegToe_03_02
r_LegToe_04_01
r_LegToe_04_02
r_HindLeg_LowerTwist
Tail_01_01
Tail_01_02
Tail_01_03
Tail_01_04
Tail_01_05
l_FrontLeg_InnerPawJnt
l_FrontLeg_KneeJnt_Twist2
l_FrontLeg_KneeJnt_Twist1
r_FrontLeg_InnerPawJnt
r_FrontLeg_KneeJnt_Twist2
r_FrontLeg_KneeJnt_Twist1

[RemoveTracks]
