[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
c_back1
c_back2
c_back3
c_back4
c_back5
l_scapula
l_shoulder
l_elbow
l_wrist
l_foot1
l_foot2
l_frontToes
l_shoulderTwist
r_scapula
r_shoulder
r_elbow
r_wrist
r_foot1
r_foot2
r_frontToes
r_shoulderTwist
c_tail1
c_tail2
c_tail3
c_tail4
c_tail5
c_tail6
c_tail7
c_tail8
c_tail9
c_tail10
c_tail11
c_tail12
l_hip
l_knee
l_ankle
l_foot
l_backToes
l_legTwist
r_hip
r_knee
r_ankle
r_foot
r_backToes
r_legTwist
r_upperEye
r_lowerEye
l_upperEye
l_lowerEye

[RemoveTracks]
Sauropod-Lay-Egg.61=all
Sauropod-Lay-Egg.62=all
Sauropod-Lay-Egg.63=all
Sauropod-Lay-Egg.64=all
