[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
c_back1
c_back2
c_back3
c_back4
c_neck1
c_neck2
c_neck3
c_jaw
c_tongue1
c_tongue2
c_tongue3
l_ear1
l_ear2
l_ear3
l_eye
r_eye
r_ear1
r_ear2
r_ear3
l_clavicle
l_shoulder
l_elbow
l_wrist
l_finger
l_frontHoof
l_frontHoof_end
c_neckHelper
r_clavicle
r_shoulder
r_elbow
r_wrist
r_finger
r_frontHoof
r_frontHoof_end
l_leg
l_knee
l_ankle
l_toe
l_hoof
l_hoof_end
c_tail1
c_tail2
c_tail3
c_tail4
r_leg
r_knee
r_ankle
r_toe
r_hoof
r_hoof_end
transform1
l_upperEye
transform2
l_lowerEye
transform3
r_lowerEye
transform4
r_upperEye
l_horn
r_horn

[RemoveTracks]
Stag-Aim-Dwn-Rit.59=all
Stag-Aim-Dwn-Rit.60=all
