[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Acrocanthosaurus
Root_M
Tail0_M
Tail0Part1_M
Tail0Part2_M
Tail1_M
Tail1Part1_M
Tail1Part2_M
Tail2_M
Tail2Part1_M
Tail2Part2_M
Tail3_M
Tail3Part1_M
Tail3Part2_M
Tail4_M
Tail4Part1_M
Tail4Part2_M
Tail5_M
Tail5Part1_M
Tail5Part2_M
Tail6_M
Spine1_M
Spine2_M
Chest_M
Neck0_M
Neck1_M
Neck5_M
Head_M
HeadEnd_M
eyeMembrane1_R
eyeMembrane2_R
eyeMembrane1_L
eyeMembrane2_L
Face_M
upperFaceJoint_M
Eye_R
EyeEnd_R
Eye_L
EyeEnd_L
LidJoints_R
upperLidMain0_R
upperLidMain1_R
upperLidMain2_R
upperLidMain3_R
upperLidMain4_R
upperLidMain5_R
upperLidMain6_R
upperLidMain7_R
upperLidMain8_R
upperLidMain9_R
upperLidMain10_R
lowerLidMain0_R
lowerLidMain1_R
lowerLidMain2_R
lowerLidMain3_R
lowerLidMain4_R
lowerLidMain5_R
lowerLidMain6_R
lowerLidMain7_R
lowerLidMain8_R
lowerLidMain9_R
lowerLidMain10_R
LidJoints_L
upperLidMain0_L
upperLidMain1_L
upperLidMain2_L
upperLidMain3_L
upperLidMain4_L
upperLidMain5_L
upperLidMain6_L
upperLidMain7_L
upperLidMain8_L
upperLidMain9_L
upperLidMain10_L
lowerLidMain0_L
lowerLidMain1_L
lowerLidMain2_L
lowerLidMain3_L
lowerLidMain4_L
lowerLidMain5_L
lowerLidMain6_L
lowerLidMain7_L
lowerLidMain8_L
lowerLidMain9_L
lowerLidMain10_L
EyeBrowInnerJoint_R
EyeBrowOuterJoint_R
EyeBrowMid1Joint_R
EyeBrowMid2Joint_R
EyeBrowMid3Joint_R
EyeBrowMiddleJoint_M
EyeBrowInnerJoint_L
EyeBrowOuterJoint_L
EyeBrowMid1Joint_L
EyeBrowMid2Joint_L
EyeBrowMid3Joint_L
middleFaceJoint_M
NoseRegionJoint_M
NoseJoint_M
NoseUnderJoint_M
lowerFaceJoint_M
LipJoints_M
upperLipJoint0_M
upperLipJoint1_R
upperLipJoint2_R
upperLipJoint3_R
upperLipJoint4_R
upperLipJoint5_R
upperLipJoint6_R
upperLipJoint7_R
upperLipJoint8_R
upperLipJoint9_R
upperLipJoint10_R
upperLipJoint11_R
upperLipJoint12_R
upperLipJoint13_R
upperLipJoint14_R
upperLipJoint15_R
upperLipJoint16_R
upperLipJoint17_R
upperLipJoint18_R
upperLipJoint19_R
upperLipJoint20_R
upperLipJoint21_R
upperLipJoint22_R
upperLipJoint23_R
upperLipJoint24_R
upperLipJoint25_R
upperLipJoint26_R
upperLipJoint27_R
lowerLipJoint0_M
lowerLipJoint1_R
lowerLipJoint2_R
lowerLipJoint3_R
lowerLipJoint4_R
lowerLipJoint5_R
lowerLipJoint6_R
lowerLipJoint7_R
lowerLipJoint8_R
lowerLipJoint9_R
lowerLipJoint10_R
lowerLipJoint11_R
lowerLipJoint12_R
lowerLipJoint13_R
lowerLipJoint14_R
lowerLipJoint15_R
lowerLipJoint16_R
lowerLipJoint17_R
upperLipJoint1_L
upperLipJoint2_L
upperLipJoint3_L
upperLipJoint4_L
upperLipJoint5_L
upperLipJoint6_L
upperLipJoint7_L
upperLipJoint8_L
upperLipJoint9_L
upperLipJoint10_L
upperLipJoint11_L
upperLipJoint12_L
upperLipJoint13_L
upperLipJoint14_L
upperLipJoint15_L
upperLipJoint16_L
upperLipJoint17_L
upperLipJoint18_L
upperLipJoint19_L
upperLipJoint20_L
upperLipJoint21_L
upperLipJoint22_L
upperLipJoint23_L
upperLipJoint24_L
upperLipJoint25_L
upperLipJoint26_L
upperLipJoint27_L
lowerLipJoint1_L
lowerLipJoint2_L
lowerLipJoint3_L
lowerLipJoint4_L
lowerLipJoint5_L
lowerLipJoint6_L
lowerLipJoint7_L
lowerLipJoint8_L
lowerLipJoint9_L
lowerLipJoint10_L
lowerLipJoint11_L
lowerLipJoint12_L
lowerLipJoint13_L
lowerLipJoint14_L
lowerLipJoint15_L
lowerLipJoint16_L
lowerLipJoint17_L
JawJoint_M
upperTeethJoint_M
lowerTeethJoint_M
CheekJoint_R
CheekJoint_L
NoseCornerJoint_R
NoseCornerJoint_L
CheekRaiserJoint_R
CheekRaiserJoint_L
Tongue0Joint_M
Tongue1Joint_M
Tongue2Joint_M
Tongue3Joint_M
Tongue4Joint_M
neckFatUp1_M
neckFatUp2_M
neckFatMid1_M
neckFatMid2_M
neckFatDown1_M
neckFatDown2_M
Clavicle_R
ShoulderUpper1_R
ShoulderUpper2_R
Shoulder_R
Elbow_R
Wrist_R
PinkyFinger5_R
PinkyFinger6_R
PinkyFinger7_R
PinkyFinger8_R
PinkyFinger9_R
RingFinger5_R
RingFinger6_R
RingFinger7_R
RingFinger8_R
RingFinger9_R
MiddleFinger5_R
MiddleFinger6_R
MiddleFinger7_R
MiddleFinger8_R
MiddleFinger9_R
Clavicle_L
ShoulderUpper1_L
ShoulderUpper2_L
Shoulder_L
Elbow_L
Wrist_L
PinkyFinger5_L
PinkyFinger6_L
PinkyFinger7_L
PinkyFinger8_L
PinkyFinger9_L
RingFinger5_L
RingFinger6_L
RingFinger7_L
RingFinger8_L
RingFinger9_L
MiddleFinger5_L
MiddleFinger6_L
MiddleFinger7_L
MiddleFinger8_L
MiddleFinger9_L
spineFat1_M
spineFat2_M
BackRump_R
Rump_R
Hip_R
Knee_R
Ankle_R
Toes_R
ToesEnd_R
toe_mid1_R
toe_mid2_R
toe_mid3_R
toe_mid4_R
toe_midEnd_R
toe_in1_R
toe_in2_R
toe_in3_R
toe_in4_R
toe_inEnd_R
toe_out5_R
toe_out6_R
toe_out7_R
toe_out8_R
toe_outEnd_R
sideToe2_R
sideToe3_R
sideToe4_R
BackRump_L
Rump_L
Hip_L
Knee_L
Ankle_L
Toes_L
ToesEnd_L
toe_mid1_L
toe_mid2_L
toe_mid3_L
toe_mid4_L
toe_midEnd_L
toe_in1_L
toe_in2_L
toe_in3_L
toe_in4_L
toe_inEnd_L
toe_out5_L
toe_out6_L
toe_out7_L
toe_out8_L
toe_outEnd_L
sideToe2_L
sideToe3_L
sideToe4_L

[RemoveTracks]
