[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
c_back1
c_back2
c_back3
c_back4
c_neck
c_head
l_eye
c_jaw
c_tongue1
c_tongue2
c_tongue3
r_eye
l_clavicle
l_shoulder
l_elbow
l_wrist
l_fingerA1
l_fingerA2
l_fingerA3
l_fingerD1
l_fingerD2
l_fingerD3
l_fingerE1
l_fingerE2
l_fingerE3
l_fingerC1
l_fingerC2
l_fingerC3
l_fingerB1
l_fingerB2
l_fingerB3
l_foreArmTwist1
l_foreArmTwist2
l_shoulderTwist
r_clavicle
r_shoulder
r_elbow
r_wrist
r_fingerA1
r_fingerA2
r_fingerA3
r_fingerD1
r_fingerD2
r_fingerD3
r_fingerE1
r_fingerE2
r_fingerE3
r_fingerC1
r_fingerC2
r_fingerC3
r_fingerB1
r_fingerB2
r_fingerB3
r_foreArmTwist1
r_foreArmTwist2
r_shoulderTwist
l_leg
l_knee
l_ankle
l_footBall
l_smallToeD1
l_smallToeD2
l_smallToeC1
l_smallToeC2
l_smallToeB1
l_smallToeB2
l_smallToeA1
l_smallToeA2
l_bigToe1
l_bigToe2
l_knee1
l_legTwist
r_leg
r_knee
r_ankle
r_footBall
r_smallToeD1
r_smallToeD2
r_smallToeC1
r_smallToeC2
r_smallToeB1
r_smallToeB2
r_smallToeA1
r_smallToeA2
r_bigToe1
r_bigToe2
r_knee1
r_legTwist
r_upperEye
r_lowerEye
l_upperEye
l_lowerEye

[RemoveTracks]
Gorilla-Move-Rit.89=all
Gorilla-Move-Rit.90=all
Gorilla-Move-Rit.91=all
Gorilla-Move-Rit.92=all
