[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
c_back1
c_back2
c_back3
c_back4
c_realTail
c_realTailC1
c_realTailC2
c_realTailC3
c_realTailA1
c_realTailA2
c_realTailA3
l_bellyFlipper1
l_bellyFlipper2
r_bellyFlipper1
r_bellyFlipper2
c_BackFlipperA1
c_BackFlipperA2
c_head
c_jaw
l_eye
r_eye
r_sideFlipper1
r_sideFlipper2
r_sideFlipper3
l_sideFlipper1
l_sideFlipper2
l_sideFlipper3

[RemoveTracks]
